body {
  width: 100%;
  background-color: $body-color;
}

.main-container {
  margin: 0 auto;
  max-width: 1140px;
  background-color: $layout-color;
}

.row {
  margin: 0;
  padding: 0;
  max-width: 1140px;
}

.layout {
  max-width: 1140px;
}

/* Sidebar*/

.sidebar {
  background-color: $sidebar-background-color;
  height: 240vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.logo {
  text-align: center;
}

h1 {
  color: $logo-color;
  font-family: $brand-font;
  font-size: 30px;
  display: inline-block;
}

.fa-bars {
  padding-left: 10px;
  color: $logo-color;
  font-size: 20px;
  color: $logo-color;
}

.menu {
  width: 100%;
  border-bottom: solid 1px $text-color;
  padding-bottom: 10px;

  a {
    display: block;
    text-decoration: none;
    color: $text-color;
    font-family: $brand-font;
    font-size: 15px;
    margin: 15px 0;
    padding: 10px 0 10px 10px;
    font-family: $paragraph-font;
  }

  a:hover {
    background-color: $sidebar-hover-background-color;
    border-left: solid 5px $border-color;
    color: $logo-color;
  }
}

.menu a svg {
  padding-right: 10px;
  fill: $text-color;
  width: 20px;
  height: 15px;
}

.contact {
  margin-top: 30px;
  text-align: center;

  h4 {
    text-transform: uppercase;
    color: $text-color;
    font-size: 15px;
    font-family: $paragraph-font;
  }

  .manager {
    padding: 10px;

    p {
      display: inline-block;
      color: $manager-name-color;
      font-family: $paragraph-font;
    }
  }
}

/*Top-bar*/

.top-bar {
  padding: 0;
  max-width: 1140px;

  .row {
    background-color: $logo-color;
    line-height: 0;

    a {
      padding: 15px 15px;
      border-left: solid 3px $text-color;
      font-size: 20px;
      font-family: $paragraph-font;
      color: $text-color;
      text-decoration: none;

      svg {
        width: 35px;
        height: 20px;
        padding: 0 10px;
      }

      p {
        display: inline-block;
        color: $manager-name-color;
      }
    }
  }
}

/* General statistic */

.second-container {
  margin: 10px auto;
  width: 100%;
  background-color: $logo-color;

  h3 {
    font-family: $paragraph-font;
    color: $text-color;
    padding: 20px;
    border-bottom: solid 1px $text-color;
    margin: 0;
  }
}

.date-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
}

input {
  border-radius: 5px;
  line-height: 2.5;
  border: 1px solid $text-color;
  margin-right: 10px;
  padding-left: 5px;
}

.date-button {
  background-color: $border-color;
  fill: $logo-color;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.statistic {
  border-top: solid 1px $text-color;
  margin: 0 auto;
  padding: 15px;

  .left, .right {
    display: flex;
    flex-direction: column;
  }

  .left {
    align-items: flex-end;
  }

  .details {
    border-bottom: solid 1px $text-color;
    margin: 20px 10px;
    width: 60%;
    justify-content: space-between;

    .title, .number {
      text-align: center;
      font-family: $paragraph-font;
      font-size: 16px;
    }

    .title {
      color: $text-color;
      font-weight: bold;
    }

    .number {
      color: $sidebar-background-color;
    }
  }
}

.chart {
  margin: 50px auto 10px;
  font-family: $paragraph-font;
  height: 450px;
  width: 70%;

  .title {
    margin-bottom: 30px;
    font-family: $paragraph-font;
    color: $text-color;
    font-size: 16px;
  }
}

/* Links */

.links {
  height: 1100px;
}

.link {
  display: flex;
  flex-direction: row;
  border-top: 1px solid $text-color;
  width: 75%;
  margin: 0 auto;
  padding: 30px 20px;
  font-size: 20px;
  font-family: $paragraph-font;
  cursor: pointer;

  p, a, i {
    margin: 0;
    padding: 0;
  }

  p {
    color: $text-color;
    width: 40%;
  }

  a {
    color: $manager-name-color;
    text-decoration: none;
    width: 100%;
  }

  i {
    color: $text-color;
    font-size: 17px;
  }

  .link-icon {
    color: $color-sent;
    padding-right: 25px;
  }

  .icons {
    display: none;
    width: 20%;
  }
}

.link.last {
  border-bottom: 1px solid $text-color;
}

.link:hover {
  background-color: $sidebar-hover-background-color;

  .icons {
    display: inline-block;
  }
}

.button-links {
  width: 140px;
  background-color: $border-color;
  color: $logo-color;
  margin: 20px auto;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px;

  p {
    font-family: $paragraph-font;
    font-size: 18px;
    margin: 0;
    text-align: center;
  }
}

/* Media queries */

@media (max-width: 768px) {



}
