/* Colors */
$logo-color: #F5F5F2;
$sidebar-background-color: #333333;
$sidebar-hover-background-color: #979797;
$text-color: #cfc4c4ee;
$body-color: #000000;
$layout-color: #eeecec;
$border-color: #F58220;
$manager-name-color: #56819F;
$color-paid: #9accd4;
$color-sent: #ebab74;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Bilbo Swash Caps', cursive;
$paragraph-font: "Roboto", sans-serif;

