/* Colors */
$logo-color: #F5F5F2;
$sidebar-background-color: #333333;
$sidebar-hover-background-color: #979797;
$text-color: #e3e3e3f5;
$body-color: #000000;
$layout-color: #eeecec;
$border-color: #F58220;
$manager-name-color: #56819F;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;

